/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

:root {
  --black: rgb(13, 13, 13);
  --white:rgb(255, 255, 255);
  --pink: rgb(60, 182, 204);
  --grey: rgb(38, 38, 38);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

a {
  color: var(--white);
  letter-spacing: 2px;
}

a:hover {
  text-decoration: none;
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

a:focus {
  outline: none;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--black);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--pink);
  border-top-color: var(--pink);
  border-bottom-color: var(--pink);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.3s;
  padding: 15px;
  display: flex;
}


@media screen and (min-width: 992px) {

  #header {
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
  }

  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 15px 18px;
  margin-bottom: 8px;
  font-size: 15px;
  border-radius: 50px;
  background: var(--grey);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}


.nav-menu a i {
  font-size: 20px;
}


.nav-menu a span {
  padding: 0 5px 0 7px;
  color: var(--white);
  letter-spacing: 2px;
}

.nav-menu a {
  width: 56px;
}

.nav-menu a span {
  display: none;
  color: var(--pink);
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
  color: var(--white);
  background: var(--pink);
}

.nav-menu a:hover span,
.nav-menu .active>a span,
.nav-menu li:hover>a span {
  color: var(--white);
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: var(--white);
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

@media screen and (max-width: 991px) {
  #header {
    height: 100px;
    right: 0;
    justify-content: center;
  }

  .nav-menu li {
    float: left;
    margin: 5px;
  }

  .nav-menu li a {
    display: block;
    margin: 0;
  }

  .nav-menu span,
  .nav-menu a:hover span,
  .nav-menu .active>a span,
  .nav-menu li:hover>a span {
    display: none;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, var(--black), var(--pink));
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 10vw)
  );
  /*border-bottom-right-radius: 50% 20%;*/
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  line-height: 56px;
  color: var(--white);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
}

#hero p {
  color: var(--white);
  margin: 15px 0 0 0;
  font-size: 26px;
  letter-spacing: 3px;
}

#hero p span {
  color: rgb(122, 181, 221);
  letter-spacing: 3px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: var(--white);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: var(--pink);
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
}

.section-title {
  text-align: center;
  padding: 40px 0;
  letter-spacing: 3px;
  font-family: 'Bebas Neue', sans-serif;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--black);
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--grey);
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--pink);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills {
  height: 100vh;
}

.skills span {
  letter-spacing: 1px;
  font-size: 12px;
}

.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  color: var(--black);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: var(--grey);
  border-radius: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: var(--pink);
  border-radius: 10px;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.09);
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: var(--pink);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(233, 233, 233, 0.87);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid var(--grey);
  border-left: 3px solid var(--grey);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid var(--grey);
  border-right: 3px solid var(--grey);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: var(--black);
  font-weight: 600;
  margin-top: 14px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}

.portfolio .portfolio-wrap .portfolio-info h6 {
  color: var(--black);
  font-size: 14px;
  padding: 0;
  margin: 0 20px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: var(--black);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: var(--black);
}

.portfolio .portfolio-wrap .portfolio-links a:focus {
  outline: none;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  height: 450px;
  padding-bottom: 0;
}

.contact .info {
  width: 100%;
}

.contact .info i {
  font-size: 20px;
  background-color: var(--grey);
  color: var(--white);
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}


.contact .info p {
  height: 44px;
  padding: 0 0 0 15px;
  margin-bottom: 95px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color:var(--black);
  font-weight: 600;
}

.email {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.contact .info .email:hover i {
  background: var(--pink);
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--black);
  color: var(--white);
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer .social-links {
  margin: 0 0 20px 0;
}

#footer .social-links a {
  font-size: 24px;
  display: inline-block;
  color: var(--white);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  color: var(--pink);
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}